<div id="<%= dom_id comment %>">
  <p>
    <strong>Content:</strong>
    <%= comment.content %>
  </p>

  <p>
    <strong>Tenant:</strong>
    <%= comment.tenant_id %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= comment.project_id %>
  </p>

</div>
